.sidebar {
  width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid gainsboro;
  background-color: white;
}
.sidebar:hover {
  flex: 2;
}
.sidebar:hover .project_list {
  display: flex !important;
}
.sidebar:hover .name_contain {
  display: block !important;
}
.sidebar:hover .title_contain {
  display: block !important;
}
.sidebar:hover .nav_title {
  display: block !important;
}
.sidebar:hover .footer_content {
  display: grid;
  column-gap: 10px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 9fr;
  grid-template-areas:
    "dp name"
    "dp title";
}
.nav_title {
  display: none;
}
.sidebar .sidebar_footer {
  padding: 10px;
}
.sidebar .sidebar_footer .footer_content {
  align-items: center;
  padding: 15px 15px;
  border-radius: 10px;
  background-color: #90b2fd49;
}
.sidebar .sidebar_footer .dp_contain {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-area: dp;
  margin: 0px;
}
.sidebar .sidebar_footer .dp_contain .sidebar_dp {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.sidebar .sidebar_footer .name_contain {
  display: flex;
  align-items: flex-end;
  grid-area: name;
  font-weight: 600;
  display: none;
}
.sidebar .sidebar_footer .title_contain {
  display: none;
  grid-area: title;
  font-size: 15px;
  font-style: italic;
  color: rgb(58, 58, 58);
}
.sidebar .sidebar_content {
  /* background-color: blueviolet; */
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 10px;
}
.sidebar .sidebar_content .project_list {
  /* background-color: blue; */
  display: none;
  /* display: flex; */
  flex-direction: column;
  gap: 10px;
  margin-left: 50px;
}
.sidebar .sidebar_content .project_list .project_card {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 15px;
}
.sidebar .sidebar_content .project_list .dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.sidebar .sidebar_content .nav_contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: black;
  gap: 10px;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 22px;
}
.sidebar .sidebar_content .nav_contain.active {
  background-color: #90b2fd49;
}
.sidebar .sidebar_header .sidebar_logo {
  padding: 20px 20px;
  height: 40px;
  cursor: pointer;
}
