.chatsidebar {
  box-sizing: border-box;
  flex: 1;
  max-width: 20%;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}
.chatsidebar .sidebar_heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}
.chatsidebar .search_box {
  display: flex;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
  background-color: ghostwhite;
  height: 25px;
}
.chatsidebar .search_box .seatch_chats_tb {
  background-color: ghostwhite;
  font-size: 15px;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}
.chatsidebar .chat_contacts {
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
