.add_timeSheet{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: var(--primary);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}