.users {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.users .section_title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  /* background-color: aqua; */
}
.users .backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.405);
  z-index: 10;
}
.users .backdrop .modal {
  height: 80%;
  width: 80%;
  border-radius: 20px;
  background-color: white;
  padding: 30px;
}
/* tablre */
.users .container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.users .table {
  width: 70%;
  border: 1px solid grey;
  border-radius: 10px;
}
.users .table-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  width: 100%;
  background: var(--primary);
  padding: 18px 0;
  z-index: 0;
}
.users .table-row {
  display: flex;
  width: 100%;
  padding: 18px 0;
}
.users .table-row:nth-of-type(odd) {
  background: #eee;
  /* background: blue; */
}
.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
}
.users .header__item {
  text-transform: uppercase;
}
.users .filter__link {
  color: white;
  /* color: aqua; */
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
}
.users .filter__link::after {
  content: "";
  position: absolute;
  right: -18px;
  color: white;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.users .filter__link.desc::after {
  content: "(desc)";
}
.users .filter__link.asc::after {
  content: "(asc)";
}
/* end table */

.users .user_actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}
