.create_task_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  width: 100%;
}
.create_task_section .section_title {
  display: flex;
  gap: 20px;
  align-items: center;
}
.create_task_section .section_title .back_icon {
  font-size: 30px;
  cursor: pointer;
}
.create_task_section .tb {
  /* padding: 8px; */
  font-size: 18px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  padding: 1px 8px;
}
.create_task_section .tb:focus {
  box-shadow: 0 0 0 1px #2684ff;
  border-color: #2684ff;
}
.create_task_section .create_task_form {
  padding: 40px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.create_task_section .field_label {
  margin-bottom: -5px;
}
.create_task_form .priority_contain {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 10px;
}
.create_task_form .priority_contain .priority {
  padding: 3px 6px;
  border-radius: 5px;
  color: white;
}
.create_task_form .priority_contain .plow {
  background-color: #2684ffa1;
}
.priority_contain .priority_label_contain {
  border-right: 1px solid gray;
  padding-right: 15px;
}
.create_task_form .priority_contain .phigh {
  background-color: rgba(255, 0, 0, 0.695);
}
.create_task_form .submit_task {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: var(--primary);
  border: none;
  outline: none;
  padding: 0px 20px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  width: fit-content;
  padding: 10px 50px;
  margin-top: 20px;
}
