.projects {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.projects .header_bar {
  box-sizing: border-box;
  /* background-color: blueviolet; */
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  gap: 25px;
  padding: 0px 20px;
}
.projects .section_title {
  display: flex;
  justify-content: space-between;
}
.projects .section_title .create_project {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: var(--primary);
  border: none;
  outline: none;
  padding: 0px 20px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
}
.add_btn {
  font-size: 15px;
}
.projects .header_bar .proj_search_tb {
  font-size: 20px;
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}
.search_icon {
  font-size: 20px;
}
.filter_icon {
  font-size: 30px;
}
.search_contain {
  max-width: 500px;
  /* background-color: blueviolet; */
  background-color: rgba(220, 220, 220, 0.614);
  height: 40px;
  border-radius: 50px;
  padding: 0px 15px;
  display: flex;
  flex: 5;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}
.sortby {
  gap: 15px;
  /* background-color: aqua; */
  align-items: center;
  display: flex;
  max-width: 300px;
  flex: 2;
}
.projects_section {
  box-sizing: border-box;
  /* background-color: aqua; */
  padding: 50px 0px;
  margin-top: 25px;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.projects_section .card {
  box-sizing: border-box;
  padding: 20px;
  height: 250px;
  width: 400px;
  /* background-color: bisque; */
  /* border: 1px solid gainsboro; */
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1.5fr 1fr 4fr 1.5fr;
  grid-template-columns: 8fr 2fr;
  grid-template-areas:
    "title progress"
    "stack progress"
    "desc desc"
    "mems mems";
  gap: 5px;
}
.projects_section .card .project_title {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  grid-area: title;
}
.projects_section .card .tech_stack {
  /* background-color: violet; */
  grid-area: stack;
}
.projects_section .card .tech_stack .tech_icon {
  height: 25px;
  width: auto;
}
.projects_section .card .project_progress {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: cadetblue; */
  grid-area: progress;
}
.projects_section .card .project_description {
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  font-size: 14px;
  color: rgb(42, 42, 42);
  /* font-style: italic; */
  grid-area: desc;
}
.projects_section .card .project_members {
  /* background-color: aquamarine; */
  grid-area: mems;
  padding-top: 10px;
}

/* cardas */
.avatars {
  display: flex;
  list-style-type: none;
  margin: auto;
  padding: 0px;
  flex-direction: row;
  margin-left: 10px;
}
.avatars__item {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #596376;
  border-radius: 100%;
  color: #fff;
  /* display: block; */
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 100;
  height: 30px;
  width: 30px;
  line-height: 45px;
  text-align: center;
  transition: margin 0.1s ease-in-out;
  overflow: hidden;
  margin-left: -10px;
}
.avatars__item:last-child {
  z-index: 0;
}
.avatars__item img {
  width: 100%;
}
